@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
nav {
    display: flex;
    flex-direction: row;
    height: 4rem;
    width: 100%;
    background-color:rgba(255, 255, 255, 0.068) ;
    justify-content: space-between;
    position:fixed;
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 10rem;
    margin-right: 2rem;
    list-style: none;
}
li a{
    list-style: none;
    text-decoration: none;
    color: white;
}
.logo{
    height: 3rem;
    margin-top:0.5rem;
    margin-left:0.5rem;
}

.heroes{
    display: flex;
    flex-direction: column;
    height: 100vh;
    flex-wrap: wrap;
    align-items: center;
}
video{ 
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.title{
    font-family: Quicksand;
    font-size: 3rem;
    position: absolute;
    margin-top: 10rem;
    color: white;
}
header{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.cart{
    border: 1px solid red;
    height: 25rem;
    margin: 12px;
;
}
.scroll{
    position: absolute;
    height:10rem;
    margin-top: 690px;
}
.lorem{
    font-family: Quicksand;
    font-size: 1rem;
    position: absolute;
    margin-top: 15rem;
    color: white;
    width:80%;
}